* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nav-bar,
#footer {
  border: 3px solid black;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
  padding: 4px 14px;
  height: 40px;
}

#logo {
  text-decoration: none;
}

#nav-bar #logo {
  margin-left: 15px;
}

.nav-item:hover {
  color: green;
  cursor: pointer;
}

#nav-list,
#nav-add-new,
#nav-contact {
  text-decoration: none;
}

ul,
h1,
h2,
h3 {
  margin: 0;
}

ul li {
  list-style: none;
}

#contact-ul li {
  padding: 4px 0;
  list-style: circle;
}

#nav-bar nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 10px;
  margin-right: 15px;
  list-style-type: none;
}

#nav-bar nav ul li {
  margin: 4px 0;
  padding: 0 12px;
}

#nav-bar nav ul li:nth-child(2) {
  border-left: 3px solid #000;
  border-right: 3px solid #000;
}

#time {
  text-align: right;
  padding: 0 24px;
}

/* Contact Section */
#contact {
  width: 100%;
  min-height: 80vh;
  padding: 20px;
  display: none;
}

#contact-wrapper {
  margin: 80px 200px;
}

#contact #contact-wrapper h1 {
  font-size: 44px;
  margin-bottom: 50px;
  text-align: center;
}

.contact-text {
  font-size: 24px;
  margin-bottom: 20px;
}

#contact-ul {
  display: inline-block;
  margin-left: 40px;
}

#contact-ul li p {
  width: 100%;
  text-align: left;
}

/* Global styles
------------------------------------ */
:root {
  /* Default font size */
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

body {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  font-family: var(--primary-ff);
  font-weight: normal;
}

.container {
  min-height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  padding: 2rem;
}

.divider {
  width: 200px;
  height: 7px;
  background-color: #000;
  margin: 30px auto;
  border-radius: 7px;
}

/* book collection section styles
------------------------------------ */
.page-title {
  text-align: center;
  font-size: 30px;
  line-height: 1.5;
  margin-block-end: 1rem;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-block-end: 2rem;
}

.add-border {
  border: 3px solid #000;
  border-radius: 7px;
}

.list-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.list-container .list-item:nth-child(odd) {
  background-color: #ddd;
}

/* remove padding, margin and border from all elements in book */
.list-item * {
  padding: 1rem;
  border: none;
}

.list-item__empty {
  text-align: center;
  padding: 1rem;
  color: #f00;
}

.remove-book-btn {
  border: 4px solid #000;
  box-shadow: 2px 2px 0 #000;
  padding: 0.5em 1em;
  margin-inline: 1rem;
  background-color: #fff;
}

.remove-book-btn:hover,
.remove-book-btn:focus {
  background-color: #000;
  color: #fff;
  box-shadow: none;
}

.remove-book-btn:active {
  background-color: #fff;
  color: #000;
  box-shadow: none;
}

/* Add Book section styles
------------------------------------ */
.add-book {
  width: 100%;
  min-height: 80vh;
  padding: 50px 20px;
  display: none;
}

.add-book-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-book-form > * {
  width: 100%;
}

.add-book-form input[type='text'] {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 3px solid #000;
  border-radius: 7px;
}

.add-book-form > input[type='submit'] {
  align-self: flex-end;
  width: fit-content;
  border: 4px solid #000;
  box-shadow: 2px 2px 0 #000;
  padding: 0.5em 1em;
}

.add-book-form > input[type='submit']:hover,
.add-book-form > input[type='submit']:focus {
  background-color: #000;
  color: #fff;
  box-shadow: none;
}

.add-book-form > input[type='submit']:active {
  background-color: #fff;
  color: #000;
  box-shadow: none;
}
